	// Global Colors
@cloud-white: #EDEFF4;
@light-blue: #01647E;
@medium-blue: #015064;
@dark-blue: #033C4B;
@flat-red: #e74c3c;
@flat-wet-asphalt: #34495e;

//Mixins

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	a {
		color: @medium-blue;
		&:hover {
			text-decoration: none;
		}
	}
	nav.navbar {
		padding: 5px 10px;
	}
	section#home {
		
	}
	section#about {
		padding: 100px 70px 120px 70px;
		color: @flat-wet-asphalt;
		#about-us-content {
			padding: 10px 100px 50px 100px;
		}
	}
	section#president-blurb {
		padding: 70px 70px;
		background-color: @light-blue;
		color: @cloud-white;
	}
	section#executiveboard {
		padding: 100px 100px;
		.board-container {
			margin-bottom: 50px;
		}
	}
	section#testimonials {
		padding: 80px 80px;
		background-color: @light-blue;
		color: @cloud-white;
	}
	section#membership {
		padding: 120px 120px;
		color: @flat-wet-asphalt;
		.membership-content {
			padding: 50px;
		}
	}
	section#events {
		padding: 70px 70px;
		background-color: @dark-blue;
		color: @cloud-white;
	}
	section#contact {
		padding: 120px 120px;
		background-color: @light-blue;
		color: @cloud-white;
	}
	footer {
		padding: 40px 40px;
		color: @flat-wet-asphalt;
	}
	.modal-content {
		position: relative;
		top: 100px;
		left: -120px;
		width: 1000px;
		padding: 10px;
		background-color: @cloud-white;
		color: @flat-wet-asphalt;
		.modal-body {
			width: 1000px;
			padding: 0px;
		}
	}	
}