body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
body a {
  color: #015064;
}
body a:hover {
  text-decoration: none;
}
body nav.navbar {
  padding: 5px 10px;
}
body section#about {
  padding: 100px 70px 120px 70px;
  color: #34495e;
}
body section#about #about-us-content {
  padding: 10px 100px 50px 100px;
}
body section#president-blurb {
  padding: 70px 70px;
  background-color: #01647e;
  color: #edeff4;
}
body section#executiveboard {
  padding: 100px 100px;
}
body section#testimonials {
  padding: 80px 80px;
  background-color: #01647e;
  color: #edeff4;
}
body section#membership {
  padding: 120px 120px;
  color: #34495e;
}
body section#membership .membership-content {
  padding: 50px;
}
body section#events {
  padding: 70px 70px;
  background-color: #033c4b;
  color: #edeff4;
}
body section#contact {
  padding: 120px 120px;
  background-color: #01647e;
  color: #edeff4;
}
body footer {
  padding: 40px 40px;
  color: #34495e;
}
body .modal-content {
  position: relative;
  top: 100px;
  left: -120px;
  width: 1000px;
  padding: 10px;
  background-color: #edeff4;
  color: #34495e;
}
body .modal-content .modal-body {
  width: 1000px;
  padding: 0px;
}
