.navbar {
	box-shadow: 3px 3px 5px 2px #bdc3c7;
}
#home {

}
#about {
	padding: 100px 10px 100px 10px;
}
#firms {
	background-color: #01647e;
	padding: 25px 10px 75px 10px;
	color: white;
}
#executiveboard {

}
#testimonials {
	background-color: #01647e;
	padding: 100px 10px 100px 10px;
	color: white;
}
#membership {
	padding: 50px 10px 50px 10px;
}
#events {
	padding: 50px 10px 50px 10px;
	background-color: #edeff4;
}
#contact {
	background-color: #01647e;
	color: white;
	padding: 50px 10px 100px 10px;
}
footer {
	padding: 20px 10px 20px 10px;
}